extends ./layouts/top.pug
block content
    h3 List of Products 
            a(href="/products/add", class="btn btn-success ") Add New Product
    table.table
        thead
            tr
                th Id
                th Name
                th Price
                th Type
                th Action
                th Action
                th Action
        tbody 
            each product in products
                tr
                    td=product.id
                    td=product.name
                    td=product.price
                    td=product.type
                    td 
                        a(href="/products/delete/"+product._id, class="btn btn-danger") Delete
                    td
                        a(href="/products/edit/"+product._id, class="btn btn-warning") Edit
                    td
                        a(href="/cart"+product._id, class="btn btn-info") Add to Cart