.main {
    height: 60px;
    background-color: #000000;
}

#logo {
    margin-left: 10%;
    margin-top: 14px;
}

.bbc-logo {
    width: 70px;
}

.text {
    margin-top: 10px;
    margin-left: 20px;
}

.menu {
    margin-left: 7%;
    text-decoration: none;
    color: white;
}

span {
    float: right;
    margin-right: 10%;
    color: gray;
    font-size: larger;
}

.content {
    width: 95%;
    margin-right: 100px;
}

.link {
    font-size: large;
    color: grey;
    text-decoration: dashed;
}

.news {
    display: flex;
    margin-left: 1%;
}

.sports {
    display: flex;
    margin-left: 1%;
}

.main-flex {
    display: flex;
}

.second-block {
    display: block;
    margin: 10px;
}